* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

section {
    padding-top: 10rem;
    padding-bottom: 10rem;
    text-align: center;
}
.btn {
	margin-top:4rem; 
	font-size: 2rem;
	font-weight: 400;
	display: inline-block;
	border:2px solid transparent;
	border-radius: .4rem;
	cursor: pointer;
	transition: all .5s;
}

.btn-outline {	
	color:#fff;
	border-color: #fff;	
	background-color: transparent;	
	padding: 2.2rem 1.6rem;
}

.btn-outline:hover {
	color: #212529;
	background-color: #fff;	
}

.btn-primary {
	background-color: white;
	border-color: gray;
	
	padding: 1.2rem 1rem;
}

.btn-primary:hover {
	background-color:gray ;
	border-color:white ;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.5;
    background-color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;

}

.text-uppercase {
    text-transform: uppercase;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.img-mars {
    max-width: 300px;
    height: 300px;
    border-radius: 100%;
}

/* NAVBAR */
nav {
    width: 100%;
    background-color: rgb(59, 59, 57);
    color: whitesmoke;
    font-weight: bold;
    padding-top: 2.3rem;
    padding-bottom: 2.3rem;
    position: fixed;
    z-index: 500;
}

.container {
    width: 1140px;
    margin-left: auto;
    margin-right: auto;
    padding-left: .5rem;
    padding-right: .5rem;
}

#logo-box .logo-icon i {
    font-size: 30px;
    color: white;
    margin-right: .9rem;
}

/* clearfix */
.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

#logo-box .logo {
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    font-weight: 700;
    font-size: 3.2rem;
}

#logo-box {
    float: left;
    padding-top: .5rem;
}

#nav-links {
    float: right;
}

#nav-links li {
    float: left;
    margin: .5.5rem;
}

#nav-links .nav-link {
    color: #fff;
    font-size: 1.6rem;
    font-weight: 700;
    padding: 1.6rem;
    display: block;
    letter-spacing: .1rem;
    transition: color 1s;
}

#nav-links .nav-link:hover {
    color: rgb(1252, 194, 2);
}

/* Header */
header {
    background-color: gainsboro;
    padding-top: calc(50.2px + 10rem);
    padding-bottom: 112px;
    text-align: center;
}

header h1 {
    color: gray;
    font-size: 7.6rem;
    word-spacing: 3px;
}

header h2 {
    color: gray;
    font-size: 2.8rem;
    word-spacing: 3px;
    font-family: font-family: 'Poppins', sans-serif;
}

hr.mars-light {
    border-color: #fff;
}

hr.mars-dark {
    border-color: dimgray;
}

.mars-light,
.mars-dark {
    border: none;
    border-top: .4rem solid #fff;
    padding: 5px;
    max-width: 25rem;
    margin: 2.5rem auto;
    overflow: visible;
    height: 0;
}

.mars-light::after {
    color: #fff;
    background-color: gainsboro;
}

.mars-dark::after {
    background-color: white;
    color: dimgray;

}

.mars-light::after,
.mars-dark::after {
    content: "\f005";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 3.2rem;
    position: relative;
    top: -29px;
    padding: 0 10px;

}

/* subgroups sections*/
#subgroups {
    
}

#subgroups h2 {
    font-size: 4.8rem;
    color: dimgray;
}

.col {
    float: left;
    width: 33.33333%;
    padding: 10px;

}

.subgroups-item {
    position: relative;

}

.subgroups-item img {
    display: block;

}

.img-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    ;
    background-color: rgb(201, 115, 42);
    opacity: 0;
    transition: opacity .5s ease;
}

.img-overlay .icon {
    color: #fff;
    font-size: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.subgroups-item:hover .img-overlay {
    opacity: 0.8;
}

/*ABOUT*/
#about {
    background-color: gainsboro;
    color: gray;
}


#about h2 {
	font-size: 4.8rem;
}

#about-text {
	text-align: left;
}

#about-text .left {
	float: left;
	width: 50%;
	padding-right: 2rem;
	padding-left: 23rem;
}

#about-text .right {
	float: right;
	width: 50%;
	padding-left: 2rem;
	padding-right: 23rem;
}


#about-text .text{
	font-size: 2rem;
}
#contact {
}

#contact h2 {
	font-size: 4.8rem;
	color: #2C3E50;
}

#contact-form {
	width: 70%;
	margin: 0 auto;
	
	
	text-align: left;
}

.form-group {
	border-bottom: 1px solid #e9ecef;
	padding-bottom: 3rem;
	margin-bottom: 4rem;
}


.form-group input,.form-group textarea {
	border: none;
	width: 100%;
	display: block;
	font-size: 2.4rem;
}

.form-group input:focus {
	outline: 0;
}
footer {
	padding-top: 6rem;
	padding-bottom: 6rem;
	background-color: #2C3E50;
	color: #fff;
	text-align: center;
}

footer h4 {
	font-size: 2.4rem;
}

footer p {
	font-size: 2rem;
	margin-top: 1rem;
}

footer li {
	display: inline-block;
	margin-right: 1rem;
}